* { margin: 0;}
/*html {
    scroll-behavior: smooth;
}*/
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: fixed;
    background-color: whitesmoke;
    height: 2rem;
    width: 100%;
    align-items: center;;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    font-style: none;
    z-index: -10;
}

section {
    padding-top: 3rem;
    min-height: 100vh;
}

.beggin {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px;
    box-shadow: 0px 80px 150px black;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 2rem;
    position: relative;
    top: 80px;
}
body {
    background: #FFFFFF url("/assets/programming.png") no-repeat center top ;
    width: 100%;
    height: 100%;
}

.perso img{
    width: 150px;
    height: 150px;
    border: solid thin;
    border-color: white;
    border-radius: 1000px;
    border-width: 5px;
}
.perso {
    text-align: center;
    display: justify;
}
.meh {
    text-align: center;
    display: justify;
}

.content {
    background-color: rgb(22,22,22);
    position: relative;
    top: 380px;
    box-shadow: 0px -5px 10px rgb(22,22,22);
}
.tp {
    cursor: pointer;
}

li {
    position:relative;
    right: -800px;
}

.google {
    width: 500px;
    height: 500px;
    display: justify;
}

.google img{
    width: 500px;
    height: 500px;
}